#page_front
{
   padding: 0;
   margin:0;
   min-width: 1400px;
   min-height: 1125px;
   color: #0F1419;
   background-color: #B2C2D1;
   background-image: url(../images/front.png);
}
 
#page_content
{
   padding: 0;
   margin:0;
   min-width: 1400px;
   min-height: 1500px;
   color: #0F1419;
   background-color: #B2C2D1;
   background-image: url(../images/page_content.png);
}
/*Main menu*/
#menu ul {
margin: 0px;
padding: 0px;
list-style:none;
width:190px;
position: absolute;
top: 400px;
left: 300px;
}

#menu  ul li {

}

#menu ul li a {
  display: block;
  text-decoration: none;
} 

#menu li:hover  a {
}
 



/*uslugi*/
#uslugi ul {
margin: 0px;
padding: 0px;
list-style:none;
width:190px;
position: absolute;
top: 500px;
left: 1000px;
}

#uslugi  ul li {

}

#uslugi ul li a {
  display: block;
  text-decoration: none;
} 

#uslugi li:hover  a {
}
 


#content_wrapper {
		clear: both;
		position:relative;
	
}
#content_node {
	position: absolute;
	top: 380px;
	left: 550px;
	width: 620px;
	height: 750px;
    border: 4px double black; /* Параметры границы */
}
.lay {
	width: 100px;
    border: 4px double black; /* Параметры границы */
}

div.inner {
}

div.outer {
height: 750px;
overflow-y: scroll;
overflow-x: scroll;
}


